{% extends "base.html" %}

{% block title %}Full Sheet - Krypto{% endblock title %}

{% block scripts %}
  <!--<script src="workerConsole.js"></script>-->
  <script src="main.js"></script>
  <script src="krypto.js"></script>
  <script src="full-sheet.js"></script>
  <script>
    function findSolutions( numbers ) {
      for( var iTarget = 30; iTarget <= 50; iTarget++ ) {
        $('tr.target-'+iTarget+' input:text').val( findSolution( numbers, iTarget ) );
      }
    };

    $(document).ready( function($) { 
      // Initialize facebox
      $('a[rel*=facebox]').facebox()

      // Make the buttons shiney
      $('input[type="submit"], input[type="button"]').each( function() { $(this).button(); } );

      // Preload ajax-loader.gif
      if( document.images ) {
        var img = new Image();
        img.src = 'ajax-loader.gif';
      }

      worker = new Worker('doWork.js');

      function handleWorkerResponse( data ) {
        var solutions = data.solutions;
        var target = data.target;

        $('img.ajax-loader').remove();
        $('#target-'+data.target+' input[type="text"]').val(solutions[0]);

        if( solutions.length > 0 )
          addFeedback( 'Found a valid solution! ' + solutions[0] + ' = ' + target );
        else
          addFeedback( 'No solution found for ' + target );

        console.log('Worker said: ', data )
        $('#solution-input').val( solutions[0] );
      }

      worker.addEventListener('message', function(e) { handleWorkerResponse( e.data ); }, false);
    } );
  </script>
{% endblock scripts %}

{% block body %}
  <section id="game">
    <ul id="numbers">
      {% for n in numbers %}
      <li id="number-{{n}}">{{n}}</li>
      {% endfor %}
    </ul>
    <input id="solution-author" type="text" placeholder="{{author}}">
    <span id="active-target-number"></span>
    <div id="target-container">
      <table>
        {% for t in target_range %}
        <tr id="target-{{t}}">
          <td>{{t}}</td>
          <td><input type="text" /></td>
          <td><input type="button" value="Solve" onclick="var solution = $(this).parent().prev().children()[0].value; var g = new KryptoGame({{numbers}}, {{t}}, solution); submitSolution(g);" /></td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <input type="button" value="Find Solutions" onclick="findSolutions({{numbers}});"></li>
    <script>
    </script>
  </section>
{% endblock body %}
